@font-face {
  font-family: "Norse-Bold";
  src: url(assets/Norse-Bold.otf);
}

html {
  font-size: 62.5%;
}

html,
body,
.background {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.background {
  background-image: url(assets/background.jpg);
  background-size: cover;
  width: 40%;
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-capture {
  color: rgba(240, 248, 255, 0.61);
  font-family: Norse-Bold;
  font-size: 8rem;
}

.black-background {
  height: 14rem;
  background-color: rgba(0, 0, 0, 30%);
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 13rem;
  opacity: 0.6;
}

.credits {
  color: rgba(255, 255, 255, 0.699);
  font-size: 1.4rem;
  align-self: center;
  padding-bottom: 1rem;
}

.credits > a {
  color: inherit;
}

main {
  width: 60%;
  min-height: 100%;
  background-color: rgba(218, 238, 228, 0.212);
}

article {
  padding: 4rem 3rem;
}

h2 {
  font-weight: 200;
}

h3 {
  font-size: 2.7rem;
}

.pair {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 50rem;
}

label {
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
}

input {
  height: 2em;
  width: 20rem;
  appearance: none;
  border: 1px rgb(216, 216, 216) solid;
  border-radius: 3px;
  padding: 1rem;
}

input:focus {
  border: 2px solid rgba(37, 92, 243, 0.836);
  outline: none;
}

input:not(:focus):invalid {
  border: 2px solid rgb(252, 21, 4);
}

button {
  background-color: #596d48;
  border: 0px;
  border-radius: 0.5rem;
  box-shadow: rgb(156, 154, 154) 2px 2px 5px;
  color: aliceblue;
  font-size: 2rem;
  padding: 0.5rem 4rem;
}

#logIn_link {
  text-decoration: none;
  color: #596d48;
}

.main_block {
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(197, 195, 195) 0px 5px 20px;
  padding: 1rem 0 4rem 4rem;
  margin-bottom: 2rem;
}

.footer {
  padding: 2rem;
  margin: auto;
}