@font-face {
    font-family: 'Norse-Bold';
    src: url(assets/Norse-Bold.otf);
}

html {
    font-size: 62.5%;
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: border-box;
}


body {
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.background {
    height: 100%;
    background-image: url(assets/background.jpg);
    background-size: cover;
    width: 40%;
    padding-top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-capture {
    color: aliceblue;
    font-family: Norse-Bold;
    font-size: 8rem;
}

.black-background {
    height: 14rem;
    background-color: rgba(0, 0, 0, 30%);
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 13rem
}

.credits {
    color: rgba(255, 255, 255, 0.699);
    font-size: 1.4rem;
    align-self: center;
    padding-bottom: 1rem;

}

.credits > a{
    color: inherit;
    
}

main {
    width: 60%;
    height: 100%;
    background-color: rgba(218, 238, 228, 0.212);
}

article {
   
    padding: 4rem 3rem;
}

h2 {
    font-weight: 200;
}

h3 {
    font-size: 2.7rem;
}

.pair {
    display: flex;
    flex-direction: column;
    gap: 0.3rem
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; 
    width: 50rem;
}

label {
    font-size: 1.2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}

input {
    height: 1.5em;
    width: 20rem;
}


button {
    background-color: #596D48;
    border-radius: 1rem;
    color: aliceblue;
    font-size: 2rem;
    padding: 0.5rem 2.5rem;
}

#logIn_link {
    text-decoration: none;
    color: #596D48;
}



.main_block {
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    margin-bottom: 2rem;
}

.footer {
    padding: 2rem;
    margin: auto;
}